<div class="character-stats-container">
    <h3 class="character-name">{{name}}</h3>
    <div class="character-stats">
      <p><strong>HP:</strong> {{hp}} / {{maxHp}}</p>
      <p><strong>AC:</strong> {{ac}}</p>
      <div class="abilities">
        <h4>Abilities</h4>
        <p><strong>STR:</strong> {{abilities.str}}</p>
        <p><strong>DEX:</strong> {{abilities.dex}}</p>
        <p><strong>CON:</strong> {{abilities.con}}</p>
        <p><strong>INT:</strong> {{abilities.int}}</p>
        <p><strong>WIS:</strong> {{abilities.wis}}</p>
        <p><strong>CHA:</strong> {{abilities.cha}}</p>
      </div>
    </div>
  </div>