<div class="character-stats">
  <h2>{{name}}</h2>
  <p><strong>HP:</strong> {{hp}} / {{maxHp}}</p>
  <p><strong>AC:</strong> {{ac}}</p>

  <table class="abilities-table">
    <thead>
      <tr>
        <th>Ability</th>
        <th>Value</th>
        <th>Mod</th>
        <th>DC</th>
      </tr>
    </thead>
    <tbody>
      {{#each abilities}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
        <td>{{this.mod}}</td>
        <td>{{this.dc}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>